* {
  box-sizing: border-box;
}
html {
  font-family: league spartan;

  --txt-main: hsl(300, 43%, 22%);
  --txt-sec: hsl(333, 80%, 67%);
  --bckgrd-light: hsl(300, 24%, 96%);
  color: var(--txt-main);
}
body {
  padding: 0;
  margin: 0;
}
main {
  padding: 1rem;
}
h1 {
  padding-top: 1rem;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.subheader {
  text-align: center;
}
.stars {
  background-color: var(--bckgrd-light);
  font-weight: 700;
  margin: 20px 5px 20px 5px;
  border-radius: 15px;
  padding: 0.5rem;
  text-align: center;
}
main > p {
  margin-bottom: 3rem;
}
.persons > .review {
  margin-bottom: 1rem;
}
.review {
  background-color: var(--txt-main);
  color: var(--bckgrd-light);
  border-radius: 9px;
  padding: 2.5rem;
}
.verified {
  color: var(--txt-sec);
  margin-top: 0.1rem;
}
.pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.who {
  display: flex;
  gap: 1rem;
  padding-bottom: 1.5rem;
}
.name-wrap {
  gap: ;
}
