* {
  box-sizing: border-box;
}
html {
  font-family: league spartan;

  --txt-main: hsl(300, 43%, 22%);
  --txt-sec: hsl(333, 80%, 67%);
  --bckgrd-light: hsl(300, 24%, 96%);
  color: var(--txt-main);
}
body {
  padding: 0;
  margin: 0;
}
main {
  background: url(/images/bg-pattern-top-mobile.svg) left top no-repeat,
    url(/images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;

  padding: 1rem;
}

h1 {
  padding-top: 1rem;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.subheader {
  text-align: center;
}
.stars {
  background-color: var(--bckgrd-light);
  font-weight: 700;
  margin: 20px 5px 20px 5px;
  border-radius: 15px;
  padding: 0.5rem;
  text-align: center;
}
main > p {
  margin-bottom: 3rem;
}
.persons > .review {
  margin-bottom: 1rem;
}
.review {
  background-color: var(--txt-main);
  color: var(--bckgrd-light);
  border-radius: 9px;
  padding: 2.5rem;
}
.verified {
  color: var(--txt-sec);
  margin-top: 0.1rem;
}
.pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.who {
  display: flex;
  gap: 1rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 786px) {
  main {
    background: url(/images/bg-pattern-top-desktop.svg) left top no-repeat,
      url(/images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60% min-content;
  }
  .persons {
    display: flex;
    gap: 1rem;
    grid-column: span 3;
  }
  h1 {
    grid-row: 1;
    grid-column: 1;
  }
  .subheader {
    grid-column: 1;
    grid-row: 2;
  }
  .star-reviews {
    grid-column: 3;
    grid-row: 1;
  }
  .stars {
    box-shadow: 2px 4px 4px var(--txt-sec);
    transition: 0.2s;
  }
  .stars:hover {
    transform: scale(1.01);
    box-shadow: 4px 8px 8px var(--txt-sec);
  }
  .one {
    position: relative;
    right: 14rem;
  }
  .two {
    position: relative;
    right: 7rem;
  }

  .ire {
    position: relative;
    top: 1rem;
  }
  .anne {
    position: relative;
    top: 2rem;
  }
}
@media screen and (min-width: 989px) {
  body {
    background: url(https://freefrontend.com/assets/img/css-background-patterns/simple-pattern-with-css3.png);
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-items: center;
    place-content: center;
  }

  main {
    background: snow;
    padding-bottom: 4rem;
    box-shadow: 4px 8px var(--txt-main);
    border-radius: 12px;
  }
  body > * {
    width: min(900px, 100%);
  }
}
